presentations/modeling_count_data.pptx
presentations/dataviz_ggplot2.pptx
scripts/example plots dataviz presentation.R
scripts/ex1.png
scripts/paper_decsions_example.png
scripts/paper_decsions_example0.png
scripts/countdata.R
scripts/countdata copy.R